---
import ProjectCard from './ProjectCard.astro';
import { projects } from '../../utils/utils.ts';
---

<section
  class='flex flex-col w-[100%] sm:w-full gap-12 py-10'
>
  <div class='w-1/2 flex flex-col gap-8'>
    <h1 class='flex font-extrabold text-6xl'>Projects</h1>
  </div>
    <div class='grid gap-y-8 lg:grid-cols-2 place-items-center '>
      {
        projects.map(
          ({
            id,
            title,
            subtitle,
            images,
            video,
            github,
            url,
            extra,
            technologies,
            description,
          }) => (
            <ProjectCard
              id={id}
              title={title}
              subtitle={subtitle}
              images={images}
              video={video}
              github={github}
              url={url}
              extra={extra}
              technologies={technologies}
              description={description}
            />
          ),
        )
      }
    </div>
</section>
