---
import ProjectCard from './ProjectCard.astro';
import { projects } from '../../utils/utils.ts';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
 const t = useTranslations(lang);
---

<section
  class='flex flex-col w-full sm:w-full gap-12 pt-10 mobile-sm:mt-80 tablet-md:mt-40 desktop-lg:mt-44 pb-10'
>
<div class='w-full flex flex-col gap-8'>
    <h1 class='flex flex-initial font-extrabold desktop-lg:text-6xl self-start mobile-sm:text-3xl mobile-md:text-3xl tablet-md:text-4xl'>{t('Projects')}</h1>
  </div>
    <div class='grid gap-y-8 desktop-lg:grid-cols-2 tablet-md:grid-cols-2 tablet-md:gap-x-14 place-items-center '>
      {
        projects.map(
          ({
            id,
            title,
            subtitle,
            images,
            video,
            github,
            url,
            extra,
            technologies,
            description,
          }) => (
            <ProjectCard
              id={id}
              title={title}
              subtitle={lang === 'es' ? subtitle.es : subtitle.en}
              images={images}
              video={video}
              github={github}
              url={url}
              extra={extra}
              technologies={technologies}
              description={lang === 'es' ? description.es : description.en}
            />
          ),
        )
      }
    </div>
</section>
