---
import {experience} from '../../utils/utils'
import JobCard from './JobCard.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class='flex sm:w-full w-[90%] flex-col gap-12 py-8'>
  <h1 class='desktop-lg:text-6xl tablet-md:text-4xl mobile-md:text-3xl mobile-sm:text-3xl font-extrabold tablet-md:mt-5'>{t('Experience')}</h1>
  <div class="relative flex flex-col gap-20">
    {experience.map(({
      title,
      company,
      timeframe,
      image,
      description,
      about,
      technologies
    }) => (
      <JobCard 
      title={title} 
      company={company} 
      timeframe={lang === 'es' ? timeframe.es : timeframe.en} 
      image={image} 
      description={lang === 'es' ? description.es : description.en} 
      about={about}
      technologies={technologies} 
      />
    ))}
  </div>
   
</section>
