---
import {experience} from '../../utils/utils'
import JobCard from './JobCard.astro'
---

<section class='flex sm:w-full w-[90%] flex-col gap-12 py-16'>
  <h1 class='text-6xl font-extrabold'>Experience</h1>
  <div class="relative flex flex-col gap-20">
    {experience.map(({
      title,
      company,
      timeframe,
      image,
      description,
      about,
      technologies
    }) => (
      <JobCard 
      title={title} 
      company={company} 
      timeframe={timeframe} 
      image={image} 
      description={description} 
      about={about}
      technologies={technologies} 
      />
    ))}
  </div>
   <div class='absolute border-l-[1px] border-dashed dark:border-gray-200 border-gray-700 left-0 h-full sm:left-2/4 z-0'></div>
</section>
