---
import {experience} from '../../utils/utils'
import JobCard from './JobCard.astro'
---

<h1 class='text-6xl font-extrabold pt-20'>Experience</h1>
<section class='flex sm:w-full w-[90%] flex-col gap-12 py-8'>
  <div class="relative flex flex-col gap-20">
    {experience.map(({
      title,
      company,
      timeframe,
      image,
      description,
      about,
      technologies
    }) => (
      <JobCard 
      title={title} 
      company={company} 
      timeframe={timeframe} 
      image={image} 
      description={description} 
      about={about}
      technologies={technologies} 
      />
    ))}
  </div>
   
</section>
