---
import { Accordion } from '../Accordion';
import type { Image, Technologies, About } from '../../utils/utils.ts';


interface Props {
  title: string;
  company: string;
  timeframe: string;
  image: Image;
  description: string;
  about: About[];
  technologies: Technologies[];
}
const { title,
  company,
  timeframe,
  image,
  description,
  about,
  technologies} = Astro.props;
---

    <article class='relative z-10 flex flex-col gap-4 pl-6 sm:even:translate-x-full sm:even:pr-0 sm:w-2/4 sm:odd:pl-0 sm:odd:pr-6 group'>
      <span class='absolute top-0 left-[-10px] h-5 w-5 rounded-full dark:bg-[#748c74] bg-blue-500 sm:group-odd:left-[calc(100%-10px)]'></span>
      <h2 class='text-xl font-extrabold dark:text-white text-black'>
        {company}
      </h2>
      <span class='mt-1 text-base font-medium dark:text-white text-black'>
        {timeframe}
      </span>
      <p class='text-base mt-2'>{description}</p>
        <Accordion client:visible>
        <div class='flex flex-col gap-2 mt-4'>
            <h2 class='text-xl font-bold dark:text-white text-black '>
              About my role
            </h2>
            <ul class='pl-5 text-base list-disc  space-y-3'>
              {about.map((a) => (
                <>
                  <li>{a.about1}</li>
                  {a.about2 && <li>{a.about2}</li>}
                  {a.about3 && <li>{a.about3}</li>}
                  {a.about4 && <li>{a.about4}</li>}
                  {a.about5 && <li>{a.about5}</li>}
                  {a.about6 && <li>{a.about6}</li>}
                  {a.about7 && <li>{a.about7}</li>}
                  {a.about8 && <li>{a.about8}</li>}
                  {a.about9 && <li>{a.about9}</li>}
                  {a.about10 && <li>{a.about10}</li>}
                </>
              ))}
            </ul>
          </div>
          <div class='flex flex-col gap-2 mt-4'>
            <h3 class='text-xl font-bold'>Technologies</h3>
            {
              <ul class='flex flex-wrap mb-0 gap-x-4 gap-y-2 text-light-texto-secondary dark:text-dark-texto-secondary '>
                {technologies.map((tech) => (
                  <li class='flex items-center gap-2 text-sm dark:text-secondaryBText text-secondaryWText'>
                    <img src={tech.svg} class='h-6 w-6 ' alt={tech.name} />
                    {tech.name}
                  </li>
                ))}
              </ul>
            }
          </div>
        </div>
            </Accordion> 
    <div class='absolute border-l-[1px] border-dashed dark:border-gray-200 border-gray-700 left-0 h-full sm:left-2/4 z-0'></div>
    </article>

  

