---
import { Accordion } from '../Accordion';
import type { Image, Technologies, About } from '../../utils/utils.ts';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);



interface Props {
  title: string;
  company: string;
  timeframe: string;
  image: Image;
  description: string;
  about: About[];
  technologies: Technologies[];
}
const { title,
  company,
  timeframe,
  image,
  description,
  about,
  technologies} = Astro.props;
---

    <article class='relative z-10 flex flex-col gap-4 pl-6 sm:even:translate-x-full sm:even:pr-0 sm:w-2/4 sm:odd:pl-0 sm:odd:pr-6 group'>
      <span class='absolute top-0 left-[-10px] h-5 w-5 rounded-full dark:bg-[#748c74] bg-blue-500 sm:group-odd:left-[calc(100%-10px)]'></span>
      <h2 class='text-xl font-extrabold dark:text-white text-black'>
        {company}
      </h2>
      <span class='mt-1 text-base font-medium dark:text-white text-black'>
        {timeframe}
      </span>
      <p class='text-base mt-2 mobile-xs:text-sm'>{description}</p>
        <Accordion client:only="react">
        <div class='flex flex-col gap-2 mt-4'>
            <h2 class='text-xl font-bold dark:text-white text-black '>
              {t('AboutRole')}
            </h2>
            <ul class='pl-5 text-base mobile-xs:text-sm list-disc  space-y-3'>
              {about.map((a) => (
                <>
                  <li>{lang === 'es' ? a.about1.es : a.about1.en}</li>
                  {a.about2 && <li>{lang === 'es' ? a.about2.es : a.about2.en}</li>}
                  {a.about3 && <li>{lang === 'es' ? a.about3.es : a.about3.en}</li>}
                  {a.about4 && <li>{lang === 'es' ? a.about4.es : a.about4.en}</li>}
                  {a.about5 && <li>{lang === 'es' ? a.about5.es : a.about5.en}</li>}
                  {a.about6 && <li>{lang === 'es' ? a.about6.es : a.about6.en}</li>}
                  {a.about7 && <li>{lang === 'es' ? a.about7.es : a.about7.en}</li>}
                  {a.about8 && <li>{lang  === 'es' ? a.about8.es : a.about8.en}</li>}
                  {a.about9 && <li>{lang === 'es' ? a.about9.es : a.about9.en}</li>}
                  {a.about10 && <li>{lang === 'es' ? a.about10.es : a.about10.en}</li>}
                </>
              ))}
            </ul>
          </div>
          <div class='flex flex-col gap-2 mt-4'>
            <h3 class='text-xl font-bold'>{t('Technologies')}</h3>
            {
              <ul class='flex flex-wrap mb-0 gap-x-4 gap-y-2'>
                {technologies.map((tech) => (
                  <li class='flex items-center gap-2 text-base mobile-xs:text-sm'>
                    <img src={tech.svg} class='h-6 w-6 ' alt={tech.name} />
                    {tech.name}
                  </li>
                ))}
              </ul>
            }
          </div>
        </div>
            </Accordion> 
    <div class='absolute border-l-[1px] border-dashed dark:border-gray-200 border-gray-700 left-0 h-full sm:left-2/4 z-0'></div>
    </article>

  

